# Configuração para rodar testes WDIO Appium no Sauce Labs
apiVersion: v1alpha
kind: project

metadata:
  name: AndroidNativeAppTest

sauce:
  region: eu-central-1
  username: oauth-rossegattites-15-15db7
  accessKey: e14e9f20-b9fc-47b8-9f2c-d100d1aeb73f

rootDir: . 

artifacts:
  download: true 
  outputDir: ./reports

suites:
  - name: "WDIO Android Native App Test"
    framework: webdriverio 
    
    platformName: Android
    automationName: UiAutomator2
    deviceName: "Google Pixel .*" 
    platformVersion: "12" 
    app: "storage:filename=Api.Demos-debug.apk" 
    build: "Build-${GITHUB_RUN_NUMBER}"
    
    files: 
      - ./test/specs/**/*.ts

#run:
  #type: appium                         # Appium para mobile nativo
  #platformName: Android
  #automationName: UiAutomator2
  #deviceName: "Google Pixel .*"        # Regex para dispositivos disponíveis no Sauce Labs
  #platformVersion: "12"                # Versão do Android
  #app: "storage:filename=Api.Demos-debug.apk"  # APK já enviado para Sauce Storage
  #name: "WDIO Android Native App Test" # Nome do teste
  #build: "Build-${GITHUB_RUN_NUMBER}"   # Build para agrupar execuções