name: WebdriverIO via Sauce Labs

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  wdio-sauce-tests:
    runs-on: ubuntu-latest

    steps:
      # Checkout do projeto
      - name: Checkout
        uses: actions/checkout@v4

      # Setup Node
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"

      # Instalação
      - name: Install dependencies
        run: npm install

      # Configuração das credenciais do Sauce Labs
      - name: Set Sauce Labs Credentials
        run: |
          echo "SAUCE_USERNAME=oauth-rossegattites15-15db7" >> $GITHUB_ENV
          echo "SAUCE_ACCESS_KEY=e14e9f20-b9fc-47b8-9f2c-d100d1aeb73f" >> $GITHUB_ENV
        env:
          SAUCE_USERNAME: oauth-rossegattites15-15db7
          SAUCE_ACCESS_KEY: e14e9f20-b9fc-47b8-9f2c-d100d1aeb73f
        # Faz upload automático do APK para o Sauce Storage
      - name: Upload APK to Sauce Storage
        run: |
          npm install -g saucectl
          saucectl storage upload ./app/Api.Demos-debug.apk \
            --username oauth-rossegattites15-15db7 \
            --access-key e14e9f20-b9fc-47b8-9f2c-d100d1aeb73f
        env:
          SAUCE_USERNAME: oauth-rossegattites15-15db7
          SAUCE_ACCESS_KEY: e14e9f20-b9fc-47b8-9f2c-d100d1aeb73f

      # Execução dos testes WDIO no Sauce Labs
      - name: Run WebdriverIO tests on Sauce Labs
        #run: npm run wdio
        run: npx wdio run ./wdio.sauce.conf.ts

      # (Opcional) Upload de relatórios, vídeos ou logs
      - name: Upload test reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: wdio-reports
          path: ./reports/**