name: Mobile E2E Tests (Android CI)

on: pull_request

jobs: 
  continuous-integration:
    runs-on: ubuntu-latest

    steps:
      
      # 1. Basic Setup
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4 
        with:
          node-version: '20.x'
          
      - name: Install Dependencies
        run: npm install
      
      # 2. Android Emulator Setup and Start
      - name: Setup Android SDK and Emulator
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 30 
          #target: default
          system-image: system-images;android-30;google_apis;x86
          profile: Pixel 3
          emulator-boot-timeout: 300
          script: adb shell input keyevent 82

          emulator-options: -memory 4096 -no-snapshot-save -no-window -gpu swiftshader_indirect
          disable-animations: true 
      # 3. Start Appium and Run Tests
      - name: Start Appium Server and Run Tests
        run: |
          npm install -g appium
          
          adb wait-for-device 
          
          adb shell input keyevent 82

          appium & # Starts Appium Server in the background on port 4723
          npx wait-on http://127.0.0.1:4723 -t 60000 # Wait for Appium
          
          npm run test