name: WebdriverIO via Sauce Labs
on: 
 push:
    branches:
      - main

jobs: 
  wdio-sauce-tests:
    runs-on: ubuntu-latest
     
    permissions:
      contents: read
      
    steps:
      
      - name: Checkout do projeto
        uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v4 
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm install
        
      - name: Set Sauce Labs Credentials
        run: |
          echo "SAUCE_USERNAME=oauth-rossegattites-15-15db7" >> $GITHUB_ENV
          echo "SAUCE_ACCESS_KEY=e14e9f20-b9fc-47b8-9f2c-d100d1aeb73f" >> $GITHUB_ENV
        env:
          SAUCE_USERNAME: oauth-rossegattites-15-15db7
          SAUCE_ACCESS_KEY: e14e9f20-b9fc-47b8-9f2c-d100d1aeb73f
      - name: Debug config.yml
        run: |
          echo "Arquivos na raiz:"
          ls -R .
          echo "Exibindo .sauce/config.yml:"
          cat .sauce/config.yml

      - name: Run tests with saucectl
        uses: saucelabs/saucectl-run-action@v4
        with:
          pass-threshold: 1
          config-file: .sauce/config.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload test reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: wdio-reports
          path: ./.sauce/reports/**