# Configuração para rodar testes WDIO Appium no Sauce Labs
apiVersion: v1alpha
kind: project

metadata:
  name: AndroidNativeAppTest

sauce:
  region: eu-central-1
  username: oauth-rossegattites-15-15db7
  accessKey: e14e9f20-b9fc-47b8-9f2c-d100d1aeb73f

rootDir: . 

artifacts:
  download: true 
  outputDir: ./reports

suites:
  - name: "WDIO Android Native App Test"
    framework: WebdriverIO 
    
    platformName: Android
    automationName: UiAutomator2
    deviceName: "Google Pixel .*" 
    platformVersion: "12" 
    app: "storage:filename=Api.Demos-debug.apk" 
    build: "Build-${GITHUB_RUN_NUMBER}"
    
    files: 
      - ./test/**/*.ts
      - ./test/**/*.js